DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=

# Google OAuth Client ID
GOOGLE_CLIENT_ID=
# Google Maps API Key
REACT_APP_GOOGLE_MAPS_KEY=


# KONFIGURASI SMTP GMAIL
SMTP_HOST=smtp.gmail.com
SMTP_PORT=
SMTP_EMAIL=
SMTP_PASSWORD=

BASE_URL=